<!DOCTYPE html>
<html>
<head>
<title>Celltronix IDOO Order Sheet</title>
</head>
<body>

<h1>Time to Place Orders!</h1>
<!-- <form action="/order.html" method="post">
<form action="/action_page.php" target="_blank"></form>

<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd">
  </form> -->

  <input type="button" onclick="alert('Hold while we pull the Order Sheet for Orlando!)" value="ORLANDO">
  <input type="button" onclick="alert('Hold while we pull the Order Sheet for Tampa! )" value="TAMPA">
  <input type="button" onclick="alert('Hold while we pull the Order Sheet for Kansas City!)" value="KANSAS CITY">


</body>
</html>